body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

#pantalla {
  width: 600px;
  height: 40px;
  margin: 0 auto 15px;
  border: 2px solid black;
  font-size: 24px;
  text-align: left;
  padding: 5px;
}

#enviar {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

#teclado {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
  justify-content: center;
}

.tecla {
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 5px;
  font-size: 30px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.vocal {
  background: green;
}

.consonante {
  background: orange;
}

.numero-par {
  background: blue;
}

.numero-impar {
  background: teal;
}

.numero-multiplo3 {
  background: yellow;
  color: black;
}
